<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Answerer</title>
        <link rel="stylesheet" href="/css/homePage.css" />
        <!-- <script src="https://kit.fontawesome.com/f72b2c9263.js" crossorigin="anonymous"></script> -->

        <!-- Font Awesome CDN -->

        <link
            rel="stylesheet"
            href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
            crossorigin="anonymous"
        />

        <!-- Bootstrap v5.1.3 CDN -->

        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <nav class="navbar sticky-top navbar-light bg-light">
            <div
                class="mx-5 container-fluid d-flex justify-content-space align-items-center"
            >
                <h1 id="heading" class="display-1">Answerer</h1>
                <nav class="nav flex-column flex-sm-row">
                    <a
                        class="flex-sm-fill text-sm-center nav-link active"
                        aria-current="page"
                        href="/"
                        >Home</a
                    >
                    <a
                        class="flex-sm-fill text-sm-center nav-link active"
                        aria-current="page"
                        href="#"
                        >QnA</a
                    >
                    <a
                        class="flex-sm-fill text-sm-center nav-link active"
                        aria-current="page"
                        href="/posts/add"
                        >Add Another Question</a
                    >
                    <!-- <a class="flex-sm-fill text-sm-center nav-link" href="#">Login</a>
                <a class="flex-sm-fill text-sm-center nav-link" href="#">Signup</a> -->
                </nav>
            </div>
        </nav>

        <div id="main" class="content d-flex bd-highlight">
            <div class="w-100 p-2 d-flex flex-column justify-content-center">
                <!-- heading -->
                <div
                    class="d-flex align-items-center justify-content-center my-3"
                >
                    <i class="fad fa-badge-check fa-5x"></i>
                    <span class="ms-3 fs-1"
                        >Question Added Successfully!!!</span
                    >
                </div>

                <!-- question answer -->
                <div id="ques-ans-section" class="container-fluid">
                    <% for(let i=0; i<1; i++) {%>
                    <div class="mb-5 border border-secondary">
                        <!-- question -->
                        <div
                            class="container-fluid questions"
                            id="<%= `question${i+1}` %>"
                        >
                            <h5 class="text-secondary">Question :</h5>
                            <h5>
                                This is question jjien jkjsdifen kcjoi neo y
                                default, until the collapse plugin adds the
                                appropriate classes that we use to style each
                                element. These classes control the overall
                                appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this
                                with custom CSS or over
                            </h5>
                            <span
                                class="text-dark fw-bold me-3 py-1 px-2 border border-dark rounded"
                                >id: <%= `${i+1}` %></span
                            >
                        </div>

                        <!-- answer accordian -->
                        <div class="accordion answers">
                            <% for(let j=0; j<3; j++) {%>
                            <div class="accordion-item">
                                <h2
                                    class="accordion-header"
                                    id="<%= `q${i+1}a${j+1}-heading` %>"
                                >
                                    <div
                                        class="accordion-button"
                                        type="button"
                                        data-bs-toggle="collapse"
                                        data-bs-target="<%= `#q${i+1}a${j+1}h${j+1}` %>"
                                        aria-expanded="true"
                                        aria-controls="<%= `q${i+1}a${j+1}h${j+1}` %>"
                                    >
                                        Answer #<%= `${j+1}` %>
                                    </div>
                                </h2>
                                <div
                                    id="<%= `q${i+1}a${j+1}h${j+1}` %>"
                                    class="accordion-collapse collapse"
                                    aria-labelledby="<%= `q${i+1}a${j+1}-heading` %>"
                                >
                                    <div
                                        class="accordion-body"
                                        id="<%= `q${i+1}a${j+1}` %>"
                                    >
                                        <div>
                                            <strong
                                                >This is the first item's
                                                accordion body.</strong
                                            >
                                            It is shown by default, until the
                                            collapse plugin adds the appropriate
                                            classes that we use to style each
                                            element. These classes control the
                                            overall appearance, as well as the
                                            showing and hiding via CSS
                                            transitions. You can modify any of
                                            this with custom CSS or overriding
                                            our default variables. It's also
                                            worth noting that just about any
                                            HTML can go within the
                                            <code>.accordion-body</code>, though
                                            the transition does limit overflow.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>

                            <!-- <div class="accordion-item">
                                <h2 class="accordion-header" id=`q${i+1}a2-heading`>
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=`${q${i+1}a2h2}` aria-expanded="true" aria-controls=`${q${i+1}a2h2}`>Answer #2</button>
                                </h2>
                                <div id=`${q${i+1}a2h2}` class="accordion-collapse collapse show" aria-labelledby=`q${i+1}a3-heading`>
                                    <div class="accordion-body" id=`q${i+1}a2`>
                                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div> -->

                            <!-- <div class="accordion-item">
                                <h2 class="accordion-header" id=`q${i+1}a3-heading`>
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target=`${q${i+1}a3h3}` aria-expanded="true" aria-controls=`${q${i+1}a3h3}`>Answer #2</button>
                                </h2>
                                <div id=`${q${i+1}a3h3}` class="accordion-collapse collapse show" aria-labelledby=`q${i+1}a3-heading`>
                                    <div class="accordion-body" id=`q${i+1}a3`>
                                        <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>

        <!-- Bootstrap v5.1.3 JS CDN -->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"
        ></script>

        <script src="/js/postSubmission.js"></script>
    </body>
</html>
